body {
}

.App {
  text-align: center;
}

header {
  background-color: #7986cb;
  height: 75px;
  color: white;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}

#mainContainer {
  background-color: #e0e4fe;
  width: 100%;
  padding: 20px;
}

.mainDiv {
  padding: 0 15px;
}

.textInput, .textOutput {
  height: 400px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: left;
}

.textInput {
  resize: none;
}

footer {
  background-color: #49599a;
  color: white;
  height: 40px;
}
